<app-navbar></app-navbar>

<div class="products-container">
  <div class="product-list"></div>
  <div *ngFor="let product of products" class="product-card">
    <img [src]=
    "'http://localhost:5000/static/image_uploads/' + product.picture" 
    alt="Product Image" class="product-img">
    <div class="product-info">
      <h2 class="product-name">{{ product.name }}</h2>
      <!-- <p class="product-description">{{ product.description }}</p> -->
      <p class="product-price"> <i class="fa-solid fa-dollar-sign"></i>price : {{ product.price }}</p>
      <p class="product-discount">Discount-price: {{ product.discount_price }}</p>
      <div class="add-to-cart">
        <input type="submit" value="add-to-cart" routerLink="/cart">
      </div>
    </div> 
    <!-- <img [src]="'/static/uploads/' + product.picture" alt="{{ product.name }}" /> -->
  </div>
</div>
