<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Please enter your email to verify your identity</h1>
    <form action="forgot-password-post" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                aria-describedby="emailHelpId"
                placeholder="abc@mail.com"
            />
        </div>

        <button
            type="submit"
            class="btn btn-primary"
        >
            Submit
        </button>
        
    </form>
    
</body>
</html>